.app {
  /* border: 1px solid red; */
  background-color: rgb(212, 184, 196);
  /* height: 100vh; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.content {
  /* background-color: rgb(108, 158, 158); */
  padding-top: 40px;
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.content > h1 {
  font-weight: 600;
  color: white;
}
.underline {
  width: 180px;
  height: 5px;
  margin-bottom: 20px;
  background-color: rgb(246, 250, 0);
}
.refresh-btn {
  padding: 8px 45px;
  background-color: rgb(7, 156, 255);
  border: none;
  cursor: pointer;
  outline: none;
  color: white;
  font-size: large;
  font-weight: 600;
  border-radius: 7px;
  margin-bottom: 80vh;
}
